Connected Services/ServiceReference1/AlbumService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Musiclog_App_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Musiclog_App_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlbumdetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Albumdetail" nillable="true" type="tns:Albumdetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumdetail" nillable="true" type="tns:ArrayOfAlbumdetail" />
  <xs:complexType name="Albumdetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Albumdetail" nillable="true" type="tns:Albumdetail" />
</xs:schema>